
.nav-link{
    color:white;
}

h2{ 
    font-weight:400;
    color:white;
}
nav{
padding:.4rem;
background-color:#0E185F;
display:flex;
align-items:center;
justify-content:space-between;

}
.fondoImg{
  position: absolute;
  width:100%;
  height: 100%;
  opacity: 0.3;
  filter:  opacity(90%);
  
  
}
.listado{
  position: absolute;
  top:50%;
  left:50%;
}
.titulo {
  padding: top 30px;
  text-align: center;
  color:black;
  text-decoration: underline;


}
.btn-primary{
  background-color: #193498;
}
.detalleImg{
  position: absolute;
  top:30%;
  left: 7%;
  width:20%;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-size: large ;

    
  
  }
a:hover{
    color:aqua;
    
}

.logo{
width: 4rem;
padding-left: 1rem;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  